@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", system-ui, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #ffffff;
  color: #455a64;
  line-height: 1.5;
}

/* .cormorant-garamond-<uniquifier> {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.ms-madi-regular {
  font-family: "Ms Madi", cursive;
  font-weight: 400;
  font-style: normal;
}

header {
  border-bottom: 3px double;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  font-size: 1.75rem;
  font-family: "Ms Madi";
  background-color: #ffffff;
  color: #455a64;
  border: none;
  border-radius: 7px;
}

#navlogo {
  font-family: "Ms Madi";
  font-size: 3rem;
  padding: 0.8rem;
  font-weight: bold;
}

#navbutton {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.background-container {
  position: relative;
  width: 80%;
  max-width: 1200px;
  min-width: 575px;
  margin: 100px auto;
  padding-top: 100px;
  background-size: cover;
  background-position: center;
  height: 400px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  gap: 2rem;
}

/* Text boxes */
.text-box {
  background-color: #ffffff;
  padding: 10px 20px;
  width: 300px;
}

.text-box-description {
  background-color: #ffffff;
  padding: 10px 20px;
  width: 500px;
}

.text-box h2 {
  font-size: 3rem;
  color: #455a64;
  margin: 0;
  padding: 0;
  font-family: "Ms Madi";
}

.text-box p {
  font-size: 1rem;
  color: #455a64;
}

.footer {
  background-color: #b1b1b1;
  border-top: 3px double #000000;
  padding: 1rem 0;
  position: relative;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  color: white;
}

.footer-logo h3 {
  font-family: "Ms Madi", cursive;
  font-size: 2.5rem;
  margin: 0.5rem 0 1rem 0;
}

.footer-text p {
  font-size: 0.8rem;
  margin: 0.5rem 0;
  color: white;
}

.footer-text a {
  color: #f4f4f4;
  text-decoration: none;
}

.footer-text a:hover {
  color: #f9a825;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 100px auto; /* center horizontally with margin */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* Left Side - Image */
.menu-image {
  flex: 1;
  min-width: 300px;
  height: 400px;
  margin-right: 1rem;
}

.menu-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

/* Right Side - Text Content */
.menu-content {
  flex: 1;
  background-color: #ffffff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.menu-content h1 {
  margin: 0;
  font-size: 3rem;
  color: #333;
  font-family: "Ms Madi";
}

.menu-content h2 {
  font-size: 2.2rem;
  font-family: "Ms Madi";
  border-bottom: 1px solid;
}

.menu-content p {
  font-size: 1rem;
  color: #555;
  margin-top: 1rem;
}
